---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "ABOUT ME"
---

<BaseLayout pageTitle={pageTitle}>
    <div class="mt-8 md:mt-16 space-y-4 md:space-y-6">
    <p>I'm a developer living in Japan, currently working on backend development for payment systems at <a href="https://about.mercari.com/en/" target="_blank" rel="noopener noreferrer">Mercari</a>.</p>

    <div>
        <p>My technical interests focus on Neovim, Arch Linux, Go, Terraform, and Kubernetes.</p>
        <p>I was a mentor for <a href="https://summerofcode.withgoogle.com/archive/2025/projects/gtQryewh" target="_blank" rel="noopener noreferrer">Google Summer of Code.</a></p>
        <p>Also, worked as an internship member at <a href="https://about.mercari.com/en/" target="_blank" rel="noopener noreferrer">Mercari</a>, <a href="https://corporate.m3.com/en/" target="_blank" rel="noopener noreferrer">M3</a>, <a href="https://www.corp-sansan.com/" target="_blank" rel="noopener noreferrer">Sansan</a>, and <a href="https://www.preferred.jp/en" target="_blank" rel="noopener noreferrer">Preferred Networks</a>.</p>
    </div>

    <p>I am also personally developing a Language Server for Google Cloud Spanner.</p>
    </div>
</BaseLayout>
