---
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/tyz-green.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>tyzerrr.com</title>
	</head>
	<body class="bg-gray-900 text-gray-300 m-0 w-full h-full">
		<slot />
	</body>
</html>
